!!!
%html
  %head
    %title Styleguide
    = stylesheet_link_tag 'mountain_view/styleguide', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'mountain_view/styleguide', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: page_class}
    .mv-header
      .mv-header__logo 
        =ENV["application_name"]
        Styleguide
      .mv-header__nav
        = link_to "UI Components", mountain_view.styleguide_index_path, class: "button"
        = link_to "Styleguide", static_index_path, class: "button"
        = link_to "Back to site", main_app.root_path, class: "button"
    .mv-flex-wrapper
      .mv-mobile__nav
        %a{class: "small button", href: "#nav"}
          See all elements
      .mv-main.container
        = yield
      #nav.mv-sidebar
        %h3 ELEMENTS
        %ul
          %li= link_to "Palette", :anchor => "palette"
          %li= link_to "Typography", :anchor => "typography"
          %li= link_to "Buttons", :anchor => "buttons"
          %li= link_to "Lists", :anchor => "lists"
          %li= link_to "Forms", :anchor => "forms"
          %li= link_to "Tables", :anchor => "tables"

  =render "shared/debug"